/* cgso.css */
.homepage-navigation a {

    display: inline-block;
    vertical-align: middle;
    padding: 10px 10px;
    margin: 2px 2px;
    background-color: pink;
    width: 80px;
    height: 50px;
    text-align:center;
    line-height: normal;
}
